<h1>Edit Fellow</h1>
<div class="container">
  <%= form_for @fellow, url: staff_fellow_path do |f| %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :role %>
  <%= f.select :role, ["Staff", "Fellow", "Coach"], {include_blank: "role"}, class: "form-control" %>

  <%= f.submit "Update Fellow", id:"submit-user-button" %>

  <%end%>

</div>
