<div class="container">
  <h2 class = "page-header">Fellows List</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>This Week's Progress</th>
        <th>Overall Progress</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @fellows.each do |fellow| %>
        <tr>
          <td><%= link_to "#{fellow.first_name} #{fellow.last_name}", staff_fellow_path(fellow) %></td>
          <td><%= fellow.email %></td>
          <td><%= fellow.week_progress %>%</td>
          <td><%= fellow.overall_progress %>%</td>
          <td><%= link_to "Edit", edit_staff_fellow_path(fellow) %></td>
          <td><%= link_to 'Delete', staff_fellow_path(fellow), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= link_to "Create New Fellow", new_staff_fellow_path, class:"btn btn-info", id: 'new-fellow-action' %>
</div>
