<div class="container">
  <h2>Fellows List</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @fellows.each do |fellow| %>
        <tr>
          <td><%= link_to "#{fellow.first_name} #{fellow.last_name}", staff_fellow_path(fellow) %></td>
          <td><%= fellow.email %></td>
          <td><%= fellow.role %></td>
          <td><%= link_to "Edit", edit_staff_fellow_path(fellow) %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= link_to "Create New Fellow", new_staff_fellow_path, class:"btn btn-info" %>
</div>