<div class="container">
  <h1 class="page-header"><%= @cohort.full_name.capitalize %></h1>
  <p>Year: <%= @cohort.year %></p>
  <p>Season: <%= @cohort.season %></p>
  <p>Start Date: <%= @cohort.start_date %></p>
  <p>Overall Progress: <%= @cohort.overall_progress %>%</p>
  <table class="table">
    <thead>
      <h4>Fellows</h4>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Weekly Progress</th>
        <th>Overall Progress</th>
      </tr>
    </thead>
    <tbody>
      <% @cohort.fellows.each do |fellow| %>
        <tr>
          <td><%= fellow.full_name %></td>
          <td><%= fellow.email %></td>
          <td><%= fellow.week_progress %>%</td>
          <td><%= fellow.overall_progress %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table">
    <thead>
      <h4>Coaches</h4>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @cohort.coaches.each do |coach| %>
        <tr>
          <td><%= coach.full_name %></td>
          <td><%= coach.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Edit Cohort", edit_staff_cohort_path(@cohort), class: "btn btn-primary" %>
</div>
