<div class="container">
  <h1 class="page-header">
    <%= @fellow.full_name %>'s Goal History
  </h1>

  <div>
    <p class='progress-header'>Overall Progress</p>: <%= @fellow.overall_progress %>%
  </div>

  <% cohort = @fellow.cohort %>
  <% 1.upto(cohort.weeks_from_start) do |week_number| %>
    <h4>
      Week <%= week_number %>, <%= cohort.week_dates(week_number) %>
    </h4>
    <h5>
      Week Progress: <%= @fellow.week_progress(week_number) %>%
    </h5>

    <table class='table'>
      <thead>
        <tr>
          <th>Description</th>
          <th>Due Date</th>
          <th>Completed</th>
        </tr>
      </thead>

      <% @fellow.goals.for_week(cohort, week_number).each do |goal| %>
        <tr>
          <td><%= goal.description %></td>
          <td><%= goal.due_date.strftime("%B %d %Y") %></td>
          <td><%= goal.completed %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
