<h1>Edit Goal</h1>

<%= form_for [@fellow, @goal], url: staff_fellow_goal_path, html: {class: "form-horizontal"} do |f| %>
<%=f.label :description %>
<%=f.text_field :description %>
<%=f.label :due_date %>
<%=f.date_field :due_date %>
<div class='form-group'>
   <%=f.label :notes, class: "col-md-1 control-label" %>
   <div class="col-md-4">
      <%=f.text_area :notes, class: "form-control" %>
  </div>
</div>
<%=f.label :completed %>
<%=f.check_box :completed %>
<%=f.submit "Update" %>
<% end %>
