<div class="container">
    <h1>Create New Goal</h1>
    <%= form_for [@fellow, @goal], url: staff_fellow_goals_path, html: {class: "form-horizontal"} do |f| %>
      <%= render 'shared/errors', object: @goal %>
      <div class='form-group'>
        <%=f.label :description, class: "col-md-1 control-label" %>
      <div class="col-md-4">
        <%=f.text_field :description, id: "goal_description", class: "form-control" %>
      </div>
    </div>

      <div class='form-group'>
        <%=f.label :due_date, class: "col-md-1 control-label" %>
        <div class="col-md-2">
            <%=f.date_field :due_date, class: "form-control" %>
        </div>
      </div>
      <div class='form-group'>
        <%=f.submit id: "save-goal-action", class:"col-md-1 btn btn-info" %>
      </div>
    <% end %>
</div>
