<div class="container">
  <h2 class= "page-header">Staff List</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @staff.each do |staff| %>
        <tr>
          <td><%= link_to "#{staff.first_name} #{staff.last_name}", staff_staff_path(staff) %></td>
          <td><%= staff.email %></td>
          <td><%= staff.role %></td>
          <td><%= link_to "Edit", edit_staff_staff_path(staff) %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
    <%= link_to "Create New Staff Member", new_staff_staff_path, id: "formButton", class:"btn btn-info" %>
</div>
