<h2>Fellows List</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Email
      </th>

      <th>
        isAdmin?
      </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.first_name %>
        </td>

        <td>
          <%= user.last_name %>
        </td>

        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.admin %>
        </td>
        <td>
          <%= link_to "Show", admin_user_path(user) %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
