<h1>Add New User</h1>

<div class="container">
  <%= form_for [:admin, @user] do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :role %>
    <%= f.select :role, User.roles.map {|r| [r.humanize, r.camelcase]}, {}, disabled: @role !="User" %>


    <%= f.submit "Create New Fellow", id:"submit-user-button" %>
  <%end%>

</div>
