<h1>Show User</h1>

<p>
  First Name:<%= @user.first_name %>
</p>

<p>
  Last Name:<%= @user.last_name %>
</p>

<p>
  Email: <%= @user.email %>
</p>
<p>
Cohort: <%= @user.cohort.season %> <%= @user.cohort.year %>
</p>
<%= link_to "New Goal", new_admin_user_goal_path(current_user) %>

<ul>
  <% @goals.each do |goal| %>
    <li><%= goal.description %> --- <%= goal.completed %> --- <%= goal.due_date %> <%= link_to "Edit goal", edit_admin_user_goal_path(@user, goal) %> <%= link_to "Delete goal", admin_user_goal_path(@user,goal), method: :delete, data: {confirm: "Are you sure?"} %></li>
  <% end %>
</ul>
