<h1>Show User</h1>

<p>
  First Name:<%= @user.first_name %>
</p>

<p>
  Last Name:<%= @user.last_name %>
</p>

<p>
  Email: <%= @user.email %>
</p>

<%= link_to "New Goal", new_admin_user_goal_path(current_user) %>

<ul>
  <% @goals.each do |goal| %>
    <li><%= goal.description %> --- <%= goal.completed %> --- <%= goal.due_date %></li>
  <% end %>
</ul>
