<div class="container">
  <h2 class="page-header">Coaches List</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @coaches.each do |coach| %>
        <tr>
          <td><%= link_to "#{coach.first_name} #{coach.last_name}", staff_coach_path(coach) %></td>
          <td><%= coach.email %></td>
          <td><%= link_to "Edit", edit_staff_coach_path(coach) %></td>
          <td><%= link_to 'Delete', staff_coach_path(coach), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
    <%= link_to "Create New Coach", new_staff_coach_path, id:"formButton", class: "btn btn-info" %>
</div>
