<div class="container">
  <h1 class="page-header"> <%= @coach.full_name %>'s Cohorts</h1>

  <% @coach.cohorts.each do |cohort| %>
    <table class="table">
      <thead>
        <h3><%= link_to (cohort.full_name.capitalize), staff_cohort_path(cohort) %> Cohort</h3>
        <ul style="list-style-type: none">
          <li>complete<span class="glyphicon glyphicon-ok done"></span></li>
          <li>overdue<span class="glyphicon glyphicon-exclamation-sign overdue"></span></li>
          <li>due within 2 days<span class="glyphicon glyphicon-exclamation-sign due-soon"></span></li>
        </ul>
        <tr>
          <th>Fellow name</th>
          <th>Fellow Email</th>
          <th>This Week's Progress</th>
          <th>Overall Progress</th>
          <th>This Week's Goals</th>
        </tr>
      </thead>
      <% cohort.users.each do |user| %>
      <tr>
        <% if user.role == "Fellow" %>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.week_progress %>% </td>
          <td><%= user.overall_progress %>%</td>
          <td>
            <ul>
              <% user.this_weeks_goals.each do |goal| %>
                <li><%= goal.description %>
                  <% if goal.completed %>
                    <span class="glyphicon glyphicon-ok done"></span>
                  <% elsif goal.overdue? %>
                    <span class="glyphicon glyphicon-exclamation-sign overdue"></span>
                  <% elsif goal.due_date_soon? %>
                    <span class="glyphicon glyphicon-exclamation-sign due-soon"></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  <% end %>
</div>
