<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @coach.first_name %> <%= @coach.last_name %></h1>
    <p>
      <%= @fellow.first_name %> <%= @fellow.last_name %> deleted <strong><%= @goal.description %></strong><br/>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>