<h1>Goal History</h1>

<div class="container">
  <% @cohort_phase_array.each do |week|  %>
    <table class="table">
      <h4> Week <%= week[:week_number] %> <%= week[:start] %></h4>
      <thead>
        <tr>
          <th>Goal Description</th>
          <th>Goal Due Date</th>
          <th>Completed?</th>
        </tr>
      </thead>
      <tbody>
        <% week[:goals].each do |goal| %>
          <tr>
            <td><%= goal.description %>
            <td><%= goal.due_date %></td>
            <td><%= goal.completed %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end  %>
</div>
